<a href="https://colab.research.google.com/github/SatoshiYoshino/Python/blob/master/%E3%82%B9%E3%83%97%E3%83%AC%E3%83%83%E3%83%88%E3%82%B7%E3%83%BC%E3%83%88%E9%80%A3%E6%90%BA2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install --upgrade -q gspread

In [2]:
from google.colab import auth
auth.authenticate_user()

In [3]:
import gspread
from oauth2client.client import GoogleCredentials

In [ ]:
2021年12月くらいまでは動いていましたが2022年5月に実行したらエラーが出るようになっていた。

In [5]:
gc = gspread.authorize(GoogleCredentials.get_application_default())
worksheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1fR3MI5BL5trGXIjALhk1Bgxa24Q8khflC6MC_rAFTyw/edit#gid=0').sheet1

TypeError: ignored

In [ ]:
# 調べてみると、gspreadでは以前からoauth2clientが非推奨となっていたようでした。

In [8]:
from google.colab import auth
from google.auth import default
import gspread

auth.authenticate_user()
creds, _ = default()
gc = gspread.authorize(creds)

In [55]:
worksheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1fR3MI5BL5trGXIjALhk1Bgxa24Q8khflC6MC_rAFTyw/edit#gid=0').sheet1

In [72]:
df = pd.DataFrame(worksheet.get_all_values())
df.head()

      0     1     2     3
0     A     B     C     D
1  7244  2175  5469  4569
2  4900   862  1338  5722
3  5134  9677  8810  7660
4  3087  2200  8416  5382

In [73]:
#1行目をcolumに登録
df.columns = df. iloc[0]
df.head()

0     A     B     C     D
0     A     B     C     D
1  7244  2175  5469  4569
2  4900   862  1338  5722
3  5134  9677  8810  7660
4  3087  2200  8416  5382

In [74]:
#1と２行目がcolumと同じなので削除する
df = df.drop(df.index[[0]])
df.head()

0     A     B     C     D
1  7244  2175  5469  4569
2  4900   862  1338  5722
3  5134  9677  8810  7660
4  3087  2200  8416  5382
5  3167   324   766  1445

In [75]:
#データ型を確認する

0
A    object
B    object
C    object
D    object
dtype: object

In [76]:
#数値に変換
df = df.astype(int)

In [77]:
df.dtypes

0
A    int64
B    int64
C    int64
D    int64
dtype: object

In [78]:
print(df.describe())

0                A            B            C            D
count    76.000000    76.000000    76.000000    76.000000
mean   4711.144737  4458.552632  4938.828947  5010.565789
std    2602.984783  2946.047066  2795.578740  2938.776581
min     605.000000   164.000000   327.000000   148.000000
25%    2419.250000  1931.250000  2468.500000  2455.000000
50%    4546.500000  4356.000000  5025.500000  4876.500000
75%    6763.500000  6346.750000  7385.500000  7411.750000
max    9577.000000  9959.000000  9980.000000  9971.000000