<a href="https://colab.research.google.com/github/SatoshiYoshino/Python/blob/master/%E3%82%B9%E3%83%97%E3%83%AC%E3%83%83%E3%83%89%E3%82%B7%E3%83%BC%E3%83%88%E9%80%A3%E6%90%BA%E7%B7%B4%E7%BF%92.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install --upgrade -q gspread

In [3]:
from google.colab import auth
auth.authenticate_user()

In [5]:
import gspread
from oauth2client.client import GoogleCredentials

In [6]:
gc = gspread.authorize(GoogleCredentials.get_application_default())
worksheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1fR3MI5BL5trGXIjALhk1Bgxa24Q8khflC6MC_rAFTyw/edit#gid=0').sheet1

In [7]:
# get_all_values gives a list of rows.
rows = worksheet.get_all_values()
print(rows)

[['A', 'B', 'C', 'D'], ['98', '93', '95', '96'], ['90', '89', '99', '99'], ['94', '86', '93', '83'], ['84', '98', '97', '80'], ['90', '87', '90', '91'], ['100', '96', '82', '94'], ['84', '94', '88', '91'], ['97', '85', '99', '87'], ['96', '81', '94', '82'], ['95', '99', '80', '83'], ['85', '88', '90', '100'], ['89', '81', '84', '91'], ['85', '85', '85', '90'], ['94', '88', '100', '90'], ['90', '87', '98', '98'], ['86', '99', '85', '80'], ['87', '93', '80', '95'], ['100', '92', '82', '81'], ['88', '85', '82', '97'], ['84', '96', '80', '98'], ['100', '82', '98', '85'], ['98', '97', '80', '91'], ['94', '100', '82', '97'], ['96', '97', '87', '99'], ['91', '85', '89', '93'], ['88', '97', '80', '94'], ['80', '97', '93', '95'], ['95', '94', '80', '95'], ['86', '97', '89', '93'], ['98', '97', '84', '100'], ['88', '90', '93', '93'], ['100', '95', '81', '97'], ['82', '80', '90', '100'], ['83', '91', '94', '90'], ['92', '93', '89', '97'], ['98', '90', '97', '89'], ['98', '85', '83', '92'], ['95', '91', '84', '92'], ['95', '95', '97', '94'], ['94', '91', '87', '97'], ['98', '85', '84', '96'], ['95', '94', '80', '97'], ['80', '89', '90', '98'], ['85', '86', '95', '83'], ['95', '86', '88', '95'], ['93', '90', '94', '80'], ['85', '88', '97', '100'], ['85', '90', '93', '88'], ['99', '91', '93', '98'], ['98', '89', '89', '86'], ['80', '99', '88', '87'], ['93', '86', '91', '89'], ['80', '96', '83', '96'], ['98', '91', '82', '91'], ['90', '100', '97', '83'], ['98', '82', '83', '90'], ['83', '90', '90', '84'], ['95', '94', '81', '92'], ['88', '87', '90', '98'], ['100', '95', '88', '82'], ['90', '100', '100', '80'], ['96', '89', '88', '81'], ['99', '89', '85', '84'], ['80', '95', '86', '86'], ['95', '91', '98', '97'], ['97', '85', '97', '95'], ['88', '92', '82', '96'], ['84', '90', '87', '84'], ['91', '81', '89', '94'], ['91', '91', '96', '86'], ['89', '97', '96', '88'], ['98', '96', '87', '82'], ['84', '93', '97', '92'], ['97', '86', '89', '81'], ['96', '96', '81', '94'], ['91', '90', '84', '83'], ['99', '86', '85', '96']]

In [8]:
# Convert to a DataFrame and render.
import pandas as pd
pd.DataFrame.from_records(rows)

     0   1   2   3
0    A   B   C   D
1   98  93  95  96
2   90  89  99  99
3   94  86  93  83
4   84  98  97  80
..  ..  ..  ..  ..
73  84  93  97  92
74  97  86  89  81
75  96  96  81  94
76  91  90  84  83
77  99  86  85  96

[78 rows x 4 columns]

In [10]:
rows[37:42]
# rowsで行を抽出する

[['98', '85', '83', '92'],
 ['95', '91', '84', '92'],
 ['95', '95', '97', '94'],
 ['94', '91', '87', '97'],
 ['98', '85', '84', '96']]